#uzumaki img {
    display: none;
}

#team7 div#uzumaki {
    background-image: url(img/uzumaki.png);
    display: inline-block;
    width: 100px;
    height: 50px;
    position: relative;
    top: -38px;
}

#team7 div {
    display: inline;
}

#team7 span#kakashi {
    display: block;
}

#madara {
    display: none;
}

#konoha img {
    width: 100px;
    height: 50px;
}

#konoha {
    display: flex;
}

#konoha div#team7 {
    flex: 2;
}

div.team {
    border: 5px solid black;
}

#orochimaruteam {
    position: relative;
}

#orochimaru {
    position: fixed;
    right: 0px;
    top: 0px;
    border: dotted black 10px;
}

#shikamaru {
    box-shadow: 5px 5px 15px gray;
    text-shadow: 2px 2px 5px red;
    
}

#orochimaru img {
    width: 50px;
    height: 25px;
}

#kabuto {
    border: 1px solid green;
    left: 30px;
    top: 40px;
    position: absolute;
}

#deidara {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#deidara img {
    width: 50px;
    height: 25px;
}

.dobri {
    background-color: green;
}

.vas {
    border-width: 5em;
    border-style: solid;
}
